@model Mvc5EgitimDersler.Models.Ogrenci

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sil</title>
</head>
<body>
    <h3>Kaydı silmek istiyor musunuz?</h3>
    <div>
        <h4>Öğrenci</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Ad)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Ad)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Soyad)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Soyad)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TCKimlikNo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TCKimlikNo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.BolumAd)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.BolumAd)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Sil" class="btn btn-default" /> |
                @Html.ActionLink("Listeye Dön", "Listele")
            </div>
        }
    </div>
</body>
</html>
