<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mvc Eğitim Projesi</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Anasayfa", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Hakkımızda", "Hakkimizda", "Home", null, null)
                @Html.ActionLink("İletişim", "Iletisim", "Home")
                @ViewBag.Baslik
                @Html.Partial("_UstMenu")
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <p>
            Layout.cshtml sayfası asp.net web form daki masterpage lere karşılık gelmektedir. <br />
            Oluşturduğumuz sayfalar aşağıdaki renderbody metodu içerisinde işlenerek o alanda gösterilir. <br />
            Böylece sayfadaki sabit alanlar (üst menü, alt footer gibi) burada tasarlanır, diğer sayfa içerikleri ise alt sayfalardan (mesela index) gelir.
        </p>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - İlk ASP.NET Mvc Uygulaması</p>
            <p>Web uygulamasının sabit alt kısmını burada tanımlayabiliriz</p>
            @RenderSection("footer", false)
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>